name: Deploy to Server

# 触发条件：当 main 分支有 push 时执行
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          # 核心部署命令：根据你的项目类型修改
          script: |
            cd /app/flask-log-test  # 进入服务器上的项目目录
            git pull origin main      # 拉取最新代码
            
            # 如果是 Python 项目
            source .venv/bin/activate
            pip install -r requirements.txt
            # nohup python app.py > log.log 2>&1 &
            # 将pid存放到pidfile.txt 日志存放到log.log
            # nohup python app.py > log.log 2>&1 & echo $! > pidfile.txt
            sudo systemctl restart flask-log-test.service
            sudo journalctl -u flask-log-test.service -n 10